@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Page version: 0.01 - Create deploy to Azure</a>.</p>
    <p>Page version: 0.02 - Create deploy to On-Prem</a>.</p>
    <p>Page version: 0.03 - Add deploy in both of env's</a>.</p>
    <p>Page version: 0.04 - Review of ci/cd design and make some minor fix</a>.</p>
    <p>Owner: AT</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
